*.class
*.log
.idea
.vscode
target
project/project/target
project/project/project
project/project/.bloop
project/project/metals.sbt
project/.bloop
remote.conf
.DS_Store
*.png
shell.nix
.direnv
.nixpkgs*
.envrc
.bloop/*
.metals/*
.terraform
dynamodb-local
docs/public
project/metals.sbt
.bsp
